.ad-container {
  border: solid;
  width: 100%;
}

.ad-slot {
  border-style: dashed;
  display: inline-block;
}

.native-slot {
  width: 50%;
}

.lazy-loading {
  div.ad-slot {
    border-style: dashed;
    display: block;
    margin: auto;
  }

  div.main-content {
    background-color: lightsteelblue;
    margin-top: 125px;
    overflow: hidden;
    width: 100%;
  }

  div.status-panel {
    background: white;
    height: 125px;
    position: fixed;
    top: 0;
    width: 100%;
  }

  table {
    width: 100%;
  }

  table th {
    text-align: center;
  }

  table td:not(.slot-name) {
    background-color: lightsalmon;
  }

  table td.activated {
    background-color: lightgreen;
  }
}