<h1>
  {{title}}
</h1>

<h3>
  <a routerLink="/">Home</a>
  <a routerLink="/somepage">SomePage</a>
  <a routerLink="/somepage1">SomePage1</a>
</h3>
<h3>Set Size</h3>
<div *dfpAd="adUnitPath;size:size[0]"></div>
<div *dfpAd="adUnitPath;size:size"></div>
<div *dfpAd="adUnitPath;size:'fluid'"></div>

<h3>Responsive Ad (Set SizeMapping)</h3>
<div *dfpAd="adUnitPath;size:size;sizeMapping:sizeMapping"></div>

<h3>Set Targetings</h3>
<div *dfpAd="adUnitPath;size:size;targeting:targeting"></div>

<h3>Set ClickUrl</h3>
<div *dfpAd="adUnitPath;size:size[0];collapseEmptyDiv:true;clickUrl:'https://www.baidu.com'"></div>

<h3>Set Element ID</h3>
<div *dfpAd="adUnitPath;size:size[0];id" id="element-1"></div>
<div *dfpAd="adUnitPath;size:size[0];id:'element-1';"></div>
